body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
    padding: 50px;
}

button {
    padding: 12px 25px;
    border: none;
    background: dodgerblue;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #006ad1;
}

#result {
    margin-top: 25px;
    font-size: 18px;
}
